[Desktop Entry]
Encoding=UTF-8
Name=Firefox 43.0b3 Web Browser
Name[cs]=Firefox 43.0b3 WWW prohlížeč
Name[cz]=Firefox 43.0b3 WWW prohlížeč
Name[de]=Firefox 43.0b3 Webbrowser
Name[es]=Firefox 43.0b3 Navegador web
Name[fr]=Firefox 43.0b3 Navigateur Web
Name[hu]=Firefox 43.0b3 Internet böngésző
Name[it]=Firefox 43.0b3 Browser Web
Name[ja]=Firefox 43.0b3 Web ブラウザ
Name[ko]=Firefox 43.0b3 웹 브라우저
Name[pl]=Firefox 43.0b3 Przeglądarka sieci Web
Name[pt_BR]=Firefox 43.0b3 Navegador da Web
Name[ru]=Firefox 43.0b3 Веб-браузер
Name[sv]=Firefox 43.0b3 Webbläsare
Name[zh_CN]=Firefox 43.0b3 Web 浏览器
Name[zh_HK]=Firefox 43.0b3 網路瀏覽器
Name[zh_TW]=Firefox 43.0b3 網路瀏覽器
GenericName=Web Browser
Comment=Browse the worldwide web 
Comment[cs]=Prohlížení Internetu
Comment[cz]=Prohlížení Internetu
Comment[de]=Browsen im Internet
Comment[es]=Examinar Internet
Comment[fr]=Parcourir Internet
Comment[hu]=Az internet böngészése
Comment[it]=Naviga in Internet
Comment[ja]=インターネットのブラウズ
Comment[ko]=인터넷 검색
Comment[pl]=Przeglądaj Internet
Comment[pt_BR]=Navega pela Internet
Comment[ru]=Работать в интернете
Comment[sv]=Surfa på Internet
Comment[zh_CN]=浏览互联网
Comment[zh_HK]=瀏覽網際網路
Comment[zh_TW]=瀏覽網際網路
Exec=/usr/bin/firefox43.0b3 %u
TryExec=/usr/bin/firefox43.0b3
Icon=firefox-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Network;X-Sun-Quick-Start;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;
